table {
  width: 100%;
}
.table_responsive thead,
.table_responsive tfoot {
  display: none;
}
.table_responsive caption {
  display: block;
}
.table_responsive tbody td {
  border: none;
  display: block;
  vertical-align: top;
}
.table_responsive tbody td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
.table_responsive tbody td.table__hide {
  display: none;
}
.table_responsive tbody td .table__content {
  vertical-align: top;
}
.table_responsive tbody td:first-child {
  padding-top: 1.5em;
}
.table_responsive tbody td:last-child {
  padding-bottom: 1.5em;
}
.table_responsive .table__wrapper_active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
